{
    "ALERTBROKER_AUTHUSERS": [
        "hhchoi1022@gmail.com",
        "evan77333@gmail.com"
    ],
    "ALERTBROKER_NORMUSERS": [
        "evan77333@gmail.com"
    ],
    "ALERTBROKER_ADMINUSERS": [
        "evan77333@gmail.com"
    ],
    "ALERTBROKER_PATH": "/home/snu/code/RASA36/alert_history",
    "ALERTBROKER_STATUSPATH": "/home/snu/code/RASA36/alert_status",
    "ALERTBROKER_VISIBILITY_GRID_MIN": 30,
    "ALERTBROKER_SLACK_POST_DELAY": 0,
    "ALERTBROKER_DISPATCH_STAGGER": 1
}
