{
    "GMAIL_USERNAME": "rasa36.observation.alert@gmail.com",
    "GMAIL_TOKENPATH": "/home/snu/code/tcspy/configuration/keys/gmail_token.txt",
    "GMAIL_PUSH_TOKEN_PATH": "/home/snu/code/tcspy/configuration/keys/gmail_token.json",
    "GMAIL_CREDENTIALS_PATH": "/home/snu/code/tcspy/configuration/keys/gmail_credentials.json",
    "GMAIL_PUBSUB_TOPIC": "projects/micro-liberty-496108-n4/topics/gmail-too-push",
    "GMAIL_PUBSUB_SUBSCRIPTION": "projects/micro-liberty-496108-n4/subscriptions/gmail-too-sub"
}