{
    "NIGHTOBS_SAFETYPE": "safetymonitor",
    "NIGHTOBS_LOOP_INTERVAL": 0.25,
    "NIGHTOBS_ABORT_POLL_INTERVAL": 0.1,
    "NIGHTOBS_ABORT_TIMEOUT": 300,
    "NIGHTOBS_RAPIDTOO_AF_POLICY": "skip",
    "NIGHTOBS_RAPIDTOO_AF_HISTORY_DURATION": 480,
    "NIGHTOBS_RAPIDTOO_COOLDOWN": 600,
    "NIGHTOBS_RAPIDTOO_COOLDOWN_BYPASS_NEW": true
}
