{
    "TRANSFER_SERVER_IP": "qso.snu.ac.kr",
    "TRANSFER_SERVER_USERNAME": "hongyp007",
    "TRANSFER_SERVER_PORTNUM": "2222",
    "TRANSFER_SOURCE_HOMEDIR": "/home/snu/code/RASA36/",
    "TRANSFER_ARCHIVE_HOMEDIR": "/home/snu/code/RASA36/",
    "TRANSFER_SERVER_HOMEDIR": "/data6/obsdata/RASA36/temp_tar",
    "TRANSFER_SYNC": "/home/snu/code/RASA36/sync/transfer.txt"
}